.color-primary-100 { color: var(--primary-100); }
.color-primary-200 { color: var(--primary-200); }
.color-primary-300 { color: var(--primary-300); }
.color-primary-400 { color: var(--primary-400); }
.color-primary-500 { color: var(--primary-500); }
.color-primary-600 { color: var(--primary-600); }
.color-primary-700 { color: var(--primary-700); }