.button  {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;

  @media(min-width: 768px) {
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
  }

  @media(min-width: 1200px) {
    font-size: 2em;
    padding: 1.2rem 1.6rem;
  }
}