.ap-paragraph {
  margin: 0;

  &--18 {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &--16 {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &--14 {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}